.dropdown {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  margin: 60px auto;
}

.dropdown__button {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px 15px;
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.dropdown__content {
  padding: 10px;
  background-color: #000000;
  font-weight: 500;
  color: #ffffff;
  width: 180px;
}

.dropdown__item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown__item:hover {
  background-color: #1D4ED8;
}
