.rating {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.rating__star {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.rating__star-icon {
  font-size: 30px;
}

.rating__score {
  display: flex;
  align-items: center;
}

.rating__score-content {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333333;
  margin-left: 30px;
}
